# General configuration preset on Laravel
* text=auto eol=lf

*.php       diff=php
*.html      diff=html
*.blade.php diff=html
*.css       diff=css
*.md        diff=markdown

# Fix .env example File being considered
# a Shell Script.
*.env.example linguist-language=INI

# Put images and other files as binary
*.png binary -text
*.jpg binary -text
*.svg binary -text
*.ico binary -text
