################################################
#         Laravel Git Attributes File.         #
# Got from: https://github.com/laravel/laravel #
################################################

# General configuration preset on Laravel.
* text=auto

*.php       diff=php
*.html      diff=html
*.blade.php diff=html
*.css       diff=css
*.md        diff=markdown

CHANGELOG.md export-ignore
.styleci.yml export-ignore
/.github     export-ignore

# Fix .env example File being considered
# a Shell Script.
*.env.example linguist-language=INI
