# Laravel and Lumen specific
app/storage/
public/hot/
public/storage/
public_html/hot/
public_html/storage/
bootstrap/compiled.php

# Composer
vendor/

# NPM
node_modules/

# IDE specific
.vscode/

# Environment files
.env
.env.backup

# Database file
database/database.sqlite

# PHPUnit
.phpunit.result.cache
